---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="what do?"
	description="still here huh?"
	pubDate={new Date('28 Feburary 2025')}
	heroImage="/blog-placeholder-about.jpg"
	tags={["about"]}
>
<section>
	<h2>How can I contact you?</h2>
<p>Well, no chance there. I am not really <a href="mailto:flatline@jraymondt.com">reachable</a></p>
<h3>Are you still in East London?</h3>
<p>No I am not in East London. I was in East Perth once.</p>
<p>This is embarssing, I don't know what to say.</p>
</section>	

</Layout>
