---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead 
		title={SITE_TITLE} 
		description={SITE_DESCRIPTION}
		pubDate={new Date('06 June 2025')}
		heroImage="../../public/img/2025/pixel_20250204_galleria.png"
		tags={["home, landing, intro, hello aliens"]} >
	</head>
	<body>
		<Header />
		<main>
			<div class="cga-monitor">
				<div class="cga-scanlines">
					<div class="content">
						<h1>Spirited 🚎</h1>
						<p>
							A website for unique souls, brought to you by the all encompassing oneness and HP source-code. Starting from the start again, because we fed the badger that lived here after midnight.
						</p>
						<div class="button-container">
							<a href="/blog/"> 
								<button class="pixel-art-button">Enter Rift</button>
							</a>
							<a href="/about/"> 
								<button class="pixel-border-button">System Info</button>
							</a>
						</div>	
					</div>	
				</div>	
			</div>	
		</main>
		<Footer />
	</body>
</html>
