// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(24, 100%, 70%),
    200: hsl(24, 79%, 69%),
    300: hsl(24, 53%, 49%),
    400: hsl(24, 64%, 48%),
    500: hsl(24, 79%, 40%),
  ),
  secondary: (
    100: hsl(176, 81%, 66%),
    200: hsl(176, 80%, 44%),
    300: hsl(176, 72%, 22%),
    400: hsl(176, 75%, 16%),
    500: hsl(176, 61%, 15%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(207, 14%, 25%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
